$font-family: Helvetica Arial;
$header-height: 200px;
$page-width: 100vw;
$avatar-size: 150px;

$content-padding: 30px;

$divider-size: 3px;
$divider-width: 60px;
$divider-margin: 10px 0;

$heading-margin: 5px;
$line-spacing: 20px;
$h-letter-spacing: 6px;
$h-font-family: Helvetica;

$spacer: 35px;
$list-spacer: 10px;

$p-padding: 15px;
$icon-margin: 10px 0;