@import "variables";
@import "colors";

@mixin reset {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0px;
}

.reset {
    margin: 0;
    padding: 0;
}

body{
    font-family: $font-family;
    @include reset
}


.column {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;

    &.flex-center {
        justify-content: center;
        align-items: center;
    }
}

.header {
    font-size: 2em;
    height: $header-height;
    background-image: url('https://images.unsplash.com/photo-1579548122080-c35fd6820ecb?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=2000&fit=max&ixid=eyJhcHBfaWQiOjExNzczfQ');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
    .avatar {
        width: 300px / 960px * 100%;
        img {
            height: $avatar-size;
            width: $avatar-size;
            border-radius: 50%;
        }
    }
    &-title {
        width: 600px / 960px * 100%;
    }

    &-subtitle {
        font-size: initial;
    }
}

.text {
    &--white {
        color: #fff;
    }
}

.content {
    height: 100%;
    @include reset;
    display: flex;

    .column-left {
        padding: $content-padding;
        width: 30%;
    }

    .section-header {
        color: $header-color;
        @include reset;
        margin-bottom: $heading-margin;
        letter-spacing: $h-letter-spacing;
        line-height: $line-spacing;
        font-family: $h-font-family;
    }
    
    .divider {
        border: solid $header-color $divider-size;
        width: $divider-width;
        margin: $divider-margin;
    }

    .section-paragraph {
        @include reset;
        margin-top: $heading-margin;
        color: $paragraph-color;
        font-family: $font-family;
    }

    .spacer {
        margin: $spacer;
    }

    .paragraph {
        display: flex;
        margin: $icon-margin;
        p {
            @extend .reset;
            padding-left: $p-padding;
        }
    }

    .column-right {
        width: 70%;
        padding: $content-padding;
        background-color: $background-color;

        ul {
        padding-left: 20px;
        }

        .not-bold {
            font-weight: 100;
        }

        .subtext {
            @include reset;
            font-size: 10px;
        }
        
        .list-spacer {
            margin: $list-spacer;
        }

    }
}
