@import "reset";
@import "mixins";
@import "variables";

body{
    font-family: $font-family;
}


.column {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;

    &.flex-center {
        justify-content: center;
        align-items: center;
    }
}

.header {
    font-size: 2em;
    height: $header-height;
    background-image: url('https://images.unsplash.com/photo-1579548122080-c35fd6820ecb?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=2000&fit=max&ixid=eyJhcHBfaWQiOjExNzczfQ');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
    .avatar {
        width: 300px / 960px * 100%;
        img {
            height: $avatar-size;
            width: $avatar-size;
            border-radius: 50%;
        }
    }
    &-title {
        width: 600px / 960px * 100%;
    }

    &-subtitle {
        font-size: initial;
    }
}

.text {
    &--white {
        color: #fff;
    }
}
