@import "reset";
@import "mixins";
@import "variables";

.column {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;

    &.flex-center {
        justify-content: center;
        align-items: center;
    }
}

.header {
    height: $header-height;
    background-image: url('https://images.unsplash.com/photo-1579548122080-c35fd6820ecb?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=2000&fit=max&ixid=eyJhcHBfaWQiOjExNzczfQ');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
    .profile-picture {
        img {
            height: $avatar-size;
            width: $avatar-size;
            border-radius: 50%;
        }
    }
}